# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
xcuserdata
objects
Settings.bundle
Pods
Podfile.lock
*.xcworkspace
.idea
bin/
.idea
*.swp
*~.nib
/dictionary/ru/*.txt
/dictionary/ru/*.sub
/dictionary/ru/*.srt

/dictionary/en/*.txt
/dictionary/en/*.sub
/dictionary/en/*.srt
work/
